.header-block{
    background: white;
    height: 50px;
    display: flex;
}
.body-block{
    padding-top: 30px;
    max-width: 1020px;
    margin: auto;  
    display: flex;
}

.sidebar-container{
    display: flex;
    flex-direction: column;    
}


